body {
    margin: 0%;
    background-color: rgb(31, 29, 29);

    
    

}

.top01 {
    background-color: rgb(201, 154, 68);
    width: 50%;
    height: 50px;
    margin: auto;
    border-radius: 0px 0px 60px 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topcalltext {
    margin: 0%;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

.top02 {
    width: 100%;
    height: 400px;
    background-color: aqua;
}

.top021{

    width: 50%;
    height: 400px;
    background-color: blue;
    margin: 0%;
    float: left;
    margin-bottom: 0%;
   
}
.top022{
    width: 50%;
    height: 400px;
    background-color: rgb(20, 182, 155);
    float: right;
    margin: 0%;
    float: left;
    
}

.hithere{
    background-color: rgb(201, 154, 68);
    width: 160px;
    height: 40px;
    margin-left: 125px;
    margin-top: 115px;
    padding: auto;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      
}
.hitheretext{
    text-align: center;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 14pt;
    font-weight: 400;
    padding-top: 7px;

}

.giftsbox{
    width: 450px;
    height: auto;
    float: right;
    margin-right: 90px;
}

.areyou{
    color: aliceblue;
    font-size: 17pt;
    margin-left: 125px;
    margin-top: 20px;
    margin-bottom: 0%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.perfect{
    
    margin-left: 125px;
    margin-top: 0%;
    font-size: 50pt;
    font-family: 'Roboto', sans-serif;
    color: transparent;
    font-size: 50pt;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: white;
    letter-spacing: 2px;
}

.top03{
    background-color: aqua;
    width: 100%;
    height: 220px;
    margin: 0px;
    padding: 0%;
}

.top03text{
    width: 1000px;
    height: 220px;
    background-color: blueviolet;
    margin-top: 0px;
    padding-top: 20px;
    margin: auto;
}

.hereyou{
    color: aliceblue;
    font-size: 25pt;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 0%;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.ourwebsite{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: aliceblue;
    font-size: 16pt;
    margin-top: 20px;
}

.top04{
    background-color: rgb(14, 102, 102);
    width: 100%;
    height: 270px;
}
.ordernow{
    color: aliceblue;
    font-size: 18pt;
    margin-top: 60px;
    text-align: center;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}


.top04text{
    width: 600px;
    background-color: brown;
    height: 250px;
    margin: auto;
    padding-top: 20px;
}

.catalo{
    width: 7cm;
    height: auto;
    padding: auto;
    margin-left: 168px;
    margin-top: 0px;
    margin-bottom: 0%;
}


.icons{
    margin: auto;
    padding-left: 160px;
    padding-top: 0px;
    font-size: 20pt;
}

.fa {
    padding: 18px;
    width: 25px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-whatsapp {
    background: #ffffff;
    color: rgb(15, 15, 15);
  }
  
  .fa-facebook {
    background: #ffffff;
    color: rgb(15, 15, 15);
  }
  
  .fa-instagram {
    background: #ffffff;
    color: rgb(15, 15, 15);
  }

  .fa-phone{
    background: #ffffff;
    color: rgb(15, 15, 15);
  }


.top05 {
    background-color: rgb(245, 159, 1);
    width: 100%;
    height: 300px;
    margin: auto;
    
}

.laszonlogo{
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;

}

.theartof{
    color: #ffffff;
    font-size: 13pt;
    letter-spacing: 8px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 0%;
}



.loader {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-top: 5px solid rgb(201, 154, 68);
    border-right: 5px solid #efefef;
    border-bottom: 5px solid #efefef;
    border-left: 5px solid #efefef;
    border-radius: 100px;
    animation: spin 1s infinite linear;
    margin-top: 25px;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }




@media screen and (max-width:415px) {

.top01 {
        background-color: rgb(201, 154, 68);
        width: 70%;
        height: 30px;
        margin: auto;
        border-radius: 0px 0px 30px 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
.topcalltext {
        margin: 0%;
        color: rgb(255, 255, 255);
        font-size: 9px;
        text-align: center;
        padding-top: 7px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
    }


    .top02 {
        width: 100%;
        height: 190px;
        background-color: aqua;
    }
    
    .top021{
    
        width: 60%;
        height: 190px;
        background-color: blue;
        margin: 0%;
        float: left;
        margin-bottom: 0%;
       
    }
    .top022{
        width: 40%;
        height: 190px;
        background-color: rgb(20, 182, 155);
        float: right;
        margin: 0%;
        float: left;
        
    }


    .hithere{
        background-color: rgb(201, 154, 68);
        width: 90px;
        height: 25px;
        margin-left: 20px;
        margin-top: 55px;
        padding: auto;
        border-radius: 30px 30px 30px 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          
    }
    .hitheretext{
        text-align: center;
        color: aliceblue;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        font-size: 8pt;
        font-weight: 400;
        padding-top: 6px;
    
    }
    
    .giftsbox{
        width: 200px;
        height: auto;
        float: right;
        margin-right: 0px;
    }
    
    .areyou{
        color: aliceblue;
        font-size: 9pt;
        margin-left: 20px;
        margin-top: 13px;
        margin-bottom: 0%;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        letter-spacing: 2px;
    }


    .perfect{
    
        margin-left: 20px;
        margin-top: 3px;
        font-family: 'Roboto', sans-serif;
        color: transparent;
        font-size: 19pt;
        -webkit-text-stroke-width: 0.4px;
        -webkit-text-stroke-color: white;
        letter-spacing: 2px;
    }
    
    .top03{
        background-color: aqua;
        width: 100%;
        height: 220px;
        margin: 0px;
        padding: 0%;
    }
    
    .top03text{
        width: 100%;
        height: 220px;
        background-color: blueviolet;
        margin-top: 0px;
        padding-top: 20px;
        margin: auto;
    }
    
    .hereyou{
        color: aliceblue;
        font-size: 25pt;
        text-align: center;
        margin-top: 9px;
        margin-bottom: 0%;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
    }
    
    .ourwebsite{
        font-family: 'Raleway', sans-serif;
        text-align: center;
        color: aliceblue;
        font-size: 16pt;
        margin-top: 20px;
    }


    .top04{
        background-color: rgb(14, 102, 102);
        width: 100%;
        height: 270px;
    }
    .ordernow{
        color: aliceblue;
        font-size: 18pt;
        margin-top: 60px;
        text-align: center;
        margin: 0%;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1px;
    }
    
    
    .top04text{
        width: 100%;
        background-color: brown;
        height: 250px;
        margin: auto;
        padding-top: 20px;
    }
    
    .catalo{
        width: 3.5cm;
        height: auto;
        padding: auto;
        margin-left: 168px;
        margin-top: 0px;
        margin-bottom: 0%;
    }
    
    
    .icons{
        margin: auto;
        padding-left: 60px;
        padding-top: 0px;
        font-size: 20pt;
    }
    
    .fa {
        padding: 18px;
        width: 25px;
        height: 25px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
    }
      
      .fa:hover {
          opacity: 0.7;
      }
      
      .fa-whatsapp {
        background: #ffffff;
        color: rgb(15, 15, 15);
      }
      
      .fa-facebook {
        background: #ffffff;
        color: rgb(15, 15, 15);
      }
      
      .fa-instagram {
        background: #ffffff;
        color: rgb(15, 15, 15);
      }
    
      .fa-phone{
        background: #ffffff;
        color: rgb(15, 15, 15);
      }
    
    
    .top05 {
        background-color: rgb(245, 159, 1);
        width: 100%;
        height: 300px;
        margin: auto;
        
    }
    
    .laszonlogo{
        width: 150px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 35px;
    
    }
    
    .theartof{
        color: #ffffff;
        font-size: 13pt;
        letter-spacing: 8px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        margin-top: 0%;
    }
    
    
    
    .loader {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        border-top: 5px solid rgb(201, 154, 68);
        border-right: 5px solid #efefef;
        border-bottom: 5px solid #efefef;
        border-left: 5px solid #efefef;
        border-radius: 100px;
        animation: spin 1s infinite linear;
        margin-top: 25px;
      }
      
      @keyframes spin {
        100% {
          transform: rotate(360deg);
        }
      }
    


    
  }
